/* Web Fonts */
@font-face {
  font-family: 'Karla';
  src: url('../fonts/karla-regular-webfont.eot');
  src: url('../fonts/karla-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/karla-regular-webfont.woff') format('woff'), url('../fonts/karla-regular-webfont.ttf') format('truetype'), url('../fonts/karla-regular-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KarlaBold';
  src: url('../fonts/karla-bold-webfont.eot');
  src: url('../fonts/karla-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/karla-bold-webfont.woff') format('woff'), url('../fonts/karla-bold-webfont.ttf') format('truetype'), url('../fonts/karla-bold-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KarlaItalic';
  src: url('../fonts/karla-italic-webfont.eot');
  src: url('../fonts/karla-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/karla-italic-webfont.woff') format('woff'), url('../fonts/karla-italic-webfont.ttf') format('truetype'), url('../fonts/karla-italic-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KarlaBoldItalic';
  src: url('../fonts/karla-bolditalic-webfont.eot');
  src: url('../fonts/karla-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/karla-bolditalic-webfont.woff') format('woff'), url('../fonts/karla-bolditalic-webfont.ttf') format('truetype'), url('../fonts/karla-bolditalic-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* RESET CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Variables */
/* Mixins */
/* Page Layout */
body {
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  font: 14px/16px Karla;
  padding: 0 0 340px 0;
  color: #3d3c3c;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.3em;
}
.b-content {
  width: 940px;
  margin: auto;
}
.b-content:after {
  clear: both;
  content: "";
  display: block;
}
.b-userbar {
  height: 60px;
  background: #dcdddb;
}
.b-enquiries {
  float: left;
  line-height: 60px;
}
.b-enquiries__enquirymail {
  text-decoration: none;
  color: #696868;
}
.b-enquiries__enquirymail:hover {
  text-decoration: underline;
}
.b-useractions,
.b-usersocial {
  float: right;
  line-height: 60px;
}
.b-useractions:after,
.b-usersocial:after {
  clear: both;
  content: "";
  display: block;
}
.b-useractions > li {
  display: inline-block;
  float: left;
}
.b-useractions__action {
  padding: 0 10px;
  text-decoration: none;
  color: #696868;
}
.b-useractions__action:hover {
  text-decoration: underline;
}
.b-usersocial {
  display: table;
  height: 60px;
  margin: 0 0 0 15px;
}
.b-usersocial > li {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
.b-usersocial__button {
  display: block;
  height: 35px;
  width: 35px;
  margin: 0 0 0 10px;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  border-radius: 100%;
  color: #ffffff;
  background: #3d3c3c;
}
.b-usersocial__button:hover {
  background: #696868;
}
.b-usersocial__button.basket {
  display: none;
}
.b-shopheader {
  height: 163px;
  border-bottom: 1px solid #d9d9d9;
}
.b-shopheader .b-content {
  height: 100%;
  text-align: center;
}
.b-shopheader__btnwrap {
  height: 100%;
  line-height: 163px;
}
.b-shopheader__btnwrap_left {
  float: left;
}
.b-shopheader__btnwrap_right {
  float: right;
}
.b-shopheader__button {
  display: inline-block;
  width: 270px;
  border: 1px solid #d9d9d9;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-family: KarlaBold;
  line-height: 42px;
  white-space: nowrap;
  color: #3d3c3c;
}
.b-shopheader__button span {
  font-size: 14px;
  text-transform: none;
  color: #696868;
}
.b-shopheader__button:hover {
  border: 1px solid #aaaaaa;
}
.b-shoplogo {
  display: inline-block;
  width: 175px;
  height: 100%;
  text-indent: -9999px;
  background: url(../img/logo.jpg) no-repeat center center;
}
.b-navigation {
  position: relative;
}
.b-navigation:after {
  clear: both;
  content: "";
  display: block;
}
.b-navmenu {
  float: left;
  white-space: nowrap;
}
.b-navmenu:after {
  clear: both;
  content: "";
  display: block;
}
.b-navmenu > li {
  display: inline-block;
  float: left;
}
.b-navmenu > li:hover > .b-navsubmenu {
  height: auto;
  opacity: 1;
}
.b-navmenu-mobile {
  display: none;
  float: left;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  padding: 5px 0 0 0;
  line-height: 60px;
  text-align: center;
  color: #3d3c3c;
}
.b-navsubmenu {
  overflow: hidden;
  height: 0px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  background: #3d3c3c;
  z-index: 120;
}
.b-navsubmenu:after {
  clear: both;
  content: "";
  display: block;
}
.b-submenu__block {
  display: inline-block;
  float: left;
  box-sizing: border-box;
  width: 25%;
  padding: 0 35px 45px 35px;
}
.b-submenu__header {
  margin: 35px 0 30px 0;
  font-family: KarlaBold;
  text-decoration: underline;
  text-transform: uppercase;
  color: #ffffff;
}
.b-submenu__list.noheader {
  margin: 80px 0 0 0;
}
.b-submenu__list > li > a {
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #c5c5c5;
}
.b-submenu__list > li > a:hover {
  color: #ffffff;
}
.b-navlink {
  display: block;
  margin: 0 20px 0 0;
  font-family: KarlaBold;
  line-height: 60px;
  text-decoration: none;
  text-transform: uppercase;
  color: #3d3c3c;
}
.b-navlink:hover {
  color: #696868;
}
.b-search {
  float: right;
  margin: 10px 0;
}
.b-search:after {
  clear: both;
  content: "";
  display: block;
}
.b-search__input {
  display: inline-block;
  float: right;
  height: 40px;
  width: 330px;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  padding: 0 20px;
  font-family: Karla;
}
.b-search__button {
  display: inline-block;
  float: right;
  height: 40px;
  width: 50px;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  background: #3d3c3c;
}
.b-search__button:hover {
  background: #696868;
}
.b-slider {
  width: 100%;
  overflow: hidden;
  margin: 0 0 45px 0;
  text-align: center;
  background: #ffffff;
}
.b-slider__viewport {
  position: relative;
  height: 490px;
  width: 820px;
  margin: auto;
}
.b-slider__control {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  font-size: 30px;
  z-index: 100;
}
.b-slider__control i {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 10px;
  height: 30px;
  color: #696868;
}
.b-slider__control:hover i {
  color: #ffffff;
}
.b-slider__control.left {
  left: 0;
}
.b-slider__control.right {
  right: 0;
}
.b-slider__slide {
  position: absolute;
  top: 0;
  left: -5px;
  height: 490px;
  width: 830px;
  -webkit-transition: opacity 0.5s linear, -webkit-transform 0.5s linear;
  -moz-transition: opacity 0.5s linear, -moz-transform 0.5s linear;
  -ms-transition: opacity 0.5s linear, -ms-transform 0.5s linear;
  -o-transition: opacity 0.5s linear, -o-transform 0.5s linear;
  transition: opacity 0.5s linear, transform 0.5s linear;
  background: url(../img/sliderpic.jpg) no-repeat center;
}
.b-slider__slide.active {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.b-slider__slide.previous,
.b-slider__slide.next {
  opacity: 0.5;
}
.b-slider__slide.previous {
  transform: translate3d(-100%, 0, 0);
}
.b-slider__slide.leaveleft {
  transform: translate3d(-200%, 0, 0);
}
.b-slider__slide.next {
  transform: translate3d(100%, 0, 0);
}
.b-slider__slide.leaveright {
  transform: translate3d(200%, 0, 0);
}
.b-slider__slide.hidden,
.b-slider__slide.leaveleft,
.b-slider__slide.leaveright {
  opacity: 0;
}
.b-slider__controls {
  margin: 15px 0 0 0;
  display: inline-block;
}
.b-slider__controls:after {
  clear: both;
  content: "";
  display: block;
}
.b-slider__controls li {
  display: inline-block;
  float: left;
}
.b-slider__button {
  display: block;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  margin: 0 2.5px;
  background: #696868;
}
.b-slider__button:hover,
.b-slider__button.active {
  background: #3d3c3c;
}
.b-section-header {
  position: relative;
  height: 37px;
}
.b-section-header__line {
  height: 18px;
  border-bottom: 1px solid #d9d9d9;
}
.b-section-header__tag {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 35px;
  width: 139px;
  margin: auto;
  border: 1px solid #d9d9d9;
  font-family: KarlaBold;
  color: #3d3c3c;
  line-height: 35px;
  text-transform: uppercase;
  text-align: center;
  background: #ffffff;
}
.b-brands,
.b-newin {
  margin: 0 0 50px 0;
}
.b-arrivals {
  margin: 50px 0 0 0;
  white-space: nowrap;
}
.b-arrivals:after {
  clear: both;
  content: "";
  display: block;
}
.b-arrivals > li {
  display: inline-block;
  float: left;
}
.b-newcollection {
  display: block;
  width: 300px;
  text-decoration: none;
}
.b-newcollection.gstar {
  background: #454545;
}
.b-newcollection.gstar .b-newcollection__image {
  background: url(../img/gstar.jpg) no-repeat;
}
.b-newcollection.replay {
  margin: 0 20px;
  background: #527286;
}
.b-newcollection.replay .b-newcollection__image {
  background: url(../img/replay.jpg) no-repeat;
}
.b-newcollection.barbour {
  background: #745238;
}
.b-newcollection.barbour .b-newcollection__image {
  background: url(../img/barbour.jpg) no-repeat;
}
.b-newcollection__image {
  position: relative;
  height: 297px;
}
.b-newcollection__image h1 {
  position: absolute;
  top: 100px;
  left: 65px;
  width: 170px;
  white-space: normal;
  text-align: center;
  line-height: 32px;
  text-decoration: underline;
  color: #ffffff;
}
.b-newcollection__image h2 {
  position: absolute;
  top: 65px;
  right: -45px;
  text-decoration: underline;
  transform: rotate(-90deg);
  color: #ffffff;
}
.b-newcollection__name {
  height: 47px;
  font-family: Karla;
  line-height: 47px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
.b-logos {
  white-space: nowrap;
  border-bottom: 1px solid #d9d9d9;
}
.b-logos:after {
  clear: both;
  content: "";
  display: block;
}
.b-logos > li {
  display: inline-block;
  float: left;
  height: 82px;
  width: 20%;
}
.b-logos__gstar {
  background: url(../img/logo-gstar.jpg) no-repeat center center;
}
.b-logos__diesel {
  background: url(../img/logo-diesel.jpg) no-repeat center center;
}
.b-logos__barbour {
  background: url(../img/logo-barbour.jpg) no-repeat center center;
}
.b-logos__lyle {
  background: url(../img/logo-lyle.jpg) no-repeat center center;
}
.b-logos__replay {
  background: url(../img/logo-replay.jpg) no-repeat center center;
}
.b-footer {
  position: absolute;
  bottom: 0;
  height: 340px;
  width: 100%;
  background: #464646;
}
.b-footer-info {
  padding: 50px 0 40px 0;
}
.b-footer-info:after {
  clear: both;
  content: "";
  display: block;
}
.b-footer-info > div {
  display: inline-block;
}
.b-footer-menu {
  float: left;
  margin: 0 120px 0 0;
}
.b-footer-menu__link {
  font-family: KarlaBold;
  text-decoration: none;
  line-height: 20px;
  color: #8b8b8b;
}
.b-footer-menu__link:hover {
  color: #ffffff;
}
.b-footer-address {
  float: left;
}
.b-footer-address p {
  font-family: KarlaBold;
  line-height: 20px;
  color: #8b8b8b;
}
.b-footer-address__phone {
  margin: 20px 0 0 0;
}
.b-footer-newsletter {
  float: right;
}
.b-newsletter-submit {
  margin: 0 0 50px 0;
}
.b-newsletter-submit:after {
  clear: both;
  content: "";
  display: block;
}
.b-newsletter-submit__input {
  display: inline-block;
  box-sizing: border-box;
  float: left;
  height: 40px;
  width: 300px;
  padding: 0 20px;
  font-family: Karla;
  color: #3d3c3c;
}
.b-newsletter-submit__button {
  display: inline-block;
  float: left;
  height: 40px;
  width: 80px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background: #3d3c3c;
}
.b-newsletter-submit__button:hover {
  background: #696868;
}
.b-cards:after {
  clear: both;
  content: "";
  display: block;
}
.b-cards li {
  display: inline-block;
  float: left;
  height: 26px;
  width: 43px;
  margin: 0 5px 0 0;
}
.b-cards li.visa {
  background: url(../img/card-visa.jpg) no-repeat;
}
.b-cards li.paypal {
  background: url(../img/card-paypal.jpg) no-repeat;
}
.b-cards li.mastercard {
  background: url(../img/card-mastercard.jpg) no-repeat;
}
.b-cards li.amex {
  background: url(../img/card-amex.jpg) no-repeat;
}
.b-cards li.solo {
  background: url(../img/card-solo.jpg) no-repeat -1px 0;
}
.b-fblock-header {
  margin: 0 0 30px 0;
  font-family: KarlaBold;
  text-decoration: underline;
  text-transform: uppercase;
  color: #ffffff;
}
.b-copyright {
  box-sizing: border-box;
  padding: 20px 0 0 0;
  border-top: 1px solid #8b8b8b;
  color: #ffffff;
}
.b-copyright:after {
  clear: both;
  content: "";
  display: block;
}
.b-copyright__shop {
  float: left;
}
.b-copyright__company {
  float: right;
}
@media (max-width: 820px) {
  .b-slider {
    display: none;
  }
}
@media (max-width: 940px) {
  body {
    padding: 0 0 60px 0;
  }
  .b-footer {
    height: 40px;
    padding: 20px 0 0 0;
  }
  .b-shopheader {
    height: auto;
  }
  .b-shoplogo {
    height: 163px;
    margin: auto;
  }
  .b-content {
    width: auto;
  }
  .b-arrivals li {
    display: block;
    float: none;
    width: 300px;
    margin: auto;
  }
  .b-newcollection.replay {
    margin: 0;
  }
  .b-logos__gstar,
  .b-logos__diesel,
  .b-logos__barbour {
    width: 33% !important;
  }
  .b-logos__lyle,
  .b-logos__replay {
    width: 50% !important;
  }
  .b-footer-info {
    display: none;
  }
  .b-usersocial__button.basket {
    display: block;
  }
  .b-useractions__action.basket {
    display: none;
  }
  .b-navmenu-mobile {
    display: block;
  }
  .b-navmenu {
    display: none;
    clear: both;
  }
  .b-navmenu.active {
    display: block;
  }
  .b-navmenu li {
    display: block;
    float: none;
    padding: 0 0 0 10px;
  }
  .b-navsubmenu {
    display: none;
  }
  .b-navsubmenu.active {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */